.button-toViet {
    -fx-graphic: url("../Image/ToVietnamIcon.png");
}

.list-color {
    -fx-background-color: #e3e5e8;
}

.button-delete {
    -fx-graphic: url("../Image/DeleteIcon.png");
}

.button-edit {
    -fx-graphic: url("../Image/EditButton.png");
}

.button-speak {
    -fx-graphic: url("../Image/SpeakIcon.png");
}

.button-favorite-searching {
    -fx-graphic: url("../Image/FavoriteButtonSearching.png");
}