.button-translate {
    -fx-graphic: url("../Image/GoogleTranslateIcon.png");
    -fx-background-color: none;
}

.button-search {
    -fx-graphic: url("../Image/SearchingIcon.png");
}

.add-button {
    -fx-graphic: url("../Image/AddWordIcon.png");
}

.button-history {
    -fx-graphic: url("../Image/HistoryIcon.png");
}

.button-game {
    -fx-graphic: url("../Image/GameIcon.png");
}
